// TASK ITEM
.taskItem {
  display: flex;
  align-items: center;

  button {
    margin-left: 0.5rem;
  }

  & > div {
    &:nth-child(1) {
      width: 5%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(3) {
      width: 10%;
    }

    &:nth-child(4) {
      width: 25%;
    }

    &:nth-child(5) {
      width: 10%;
    }

    &:nth-child(6) {
      width: 10%;
    }

    &:nth-child(7) {
      margin-left: auto;
    }
  }
}

// UPLOAD FILE INPUT
.uploadFileInput {
  display: none;
}
